/*---------------------------------------------------
               Dora footer css                   
---------------------------------------------------*/

.copyright {
  padding: 40px 0;
  background-color: $heroBg;
  text-align: center;
  p {
    color: $dark;
  }
  a {
    color: $primary;
  }
}
